.cartButton{
    width: 100%;
}

.delete{
    border-radius: 0px;
    background-color: #af2d2d;
    color: #ffffff;
    transition-duration: .2s;
}
.delete:hover{
    background-color: #8e2525;
}

.greenBtn{
    border-radius: 0px;
    background-color: #3db43d;
    color: #ffffff;
    transition-duration: .2s;
}
.greenBtn:hover{
    background-color: #2e852e;
}

.yellowBtn{
    border-radius: 0px;
    color: #ffffff;
    background-color: #ffc107;
    transition-duration: .2s;
}
.yellowBtn:hover{
    background-color: #cc9900;
}


.fa-check-circle{
    color: #3db43d;
    font-size: 100px;
}
