/* Main carousel section*/
.main-carousel-section{
    position: relative;
    overflow: hidden;
}

.main.carousel-item{
    background-size: cover;
    overflow: hidden;
}

.main.carousel-item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    opacity: .8; 
}

.main-carousel-heading{
    /* margin-bottom: -25%; */
    background-color: transparent;
    z-index: 1;
    position: absolute;
    left: 20px;
    right: 20px; 
    top: 90px;
    overflow: hidden;
}

.main-heading{
    font-size: 95px;
    color: #e6e6e6;
}
.main-sub-text{
    color: #e6e6e6;
}


.main-carousel-heading-btn{
    border: 2px solid #e6e6e6;
    color: #e6e6e6;
    background-color: transparent;
    transition-duration: .4s;
    padding: 5px 50px;

}

.main-carousel-heading-btn:hover {
    color: rgba(168, 36, 21, 0.547);
    background-color: #e6e6e6;
}