.modal{
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.video-modal-content {
    margin: auto;
    width: 70%;
    background-color: #e6e6e6;
    padding: 0px 20px;
}
.modal-form{
    display: block;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    padding-top: 80px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
/*  */
.modal-form form input[type="text"],
.modal-form form select,
.modal-form form textarea{
     border: 2px solid grey !important;
     outline: none !important;
     box-shadow: none !important;
}
.modal-form form label {
    float: left;
}
.modal-form form button{
    float: right;
}

.applyFormBtn{
    color: #fff;
    background-color: rgb(172, 102, 94);
    transition-duration: .4s;
    /* float: right; */
}


.applyFormBtn:hover{
    color: #fff;
    background-color: rgb(151, 89, 82);
    /* float: right; */
}

.form-modal-content {
    margin: auto;
    width: 70%;
    background-color: #e6e6e6;
    padding: 10px 10px 50px 10px;
}

.food-video{
    width: 100%;
    border: 2px solid #e6e6e6;
}

.close{
    color: #000;
    font-size: 40px;
    transition-duration: .4s;
    margin-top: -15px;
}

.close:hover{
    color: rgb(168, 36, 21);
}


.cart{
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.cart-content{
    margin: auto;
    width: 70%;
    background-color: #e6e6e6;
    padding: 10px 10px 50px 10px;
}



@media screen and (max-width: 769px){
    .video-modal-contentm, .form-modal-content{
        width: 90%;
    }
    .modal-form form button{
        float: none;
        width: 100%;
    }
    .form-modal-content{
        padding: 10px;
    }
}

