/* Navbar */
.navigationBar-section{
    transition-duration: .8s;
}
.navbar{
    padding: 10px 30px;
    background-color: #fff;
}

.navbar-light .navbar-nav .nav-item{
    padding: 0 20px;  
}

.navbar-light .navbar-nav .nav-link{
    color: #ccc;
    border: 2px solid transparent;
    transition-duration: .4s;
}
/* .navbar-light .navbar-nav .nav-link{
    color: #ccc;
    transition-duration: .4s;
    border-bottom: 2px solid  transparent;
} */

.navbar-light .navbar-nav .nav-link:hover{
    color: rgba(168, 36, 21, 0.547);
    border-bottom: 2px solid rgba(168, 36, 21, 0.547);
}

.navbar-light .navbar-nav .nav-link.active{
    color: rgba(168, 36, 21, 0.547);
    border-bottom: 2px solid rgba(168, 36, 21, 0.547);
}

/* .navbar-light .navbar-nav .nav-link:active{
    color: rgba(168, 36, 21, 0.547);
    border-bottom: 2px solid black;
} */

.navbar-light .navbar-toggler{
    background: rgba(168, 36, 21, 0.547);
}

.cartNumber{
    position: absolute;
    margin-top: -15px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 16;
    box-shadow: 0 0 15px;
  }

@media screen and (max-width: 769px){
.navbar-collapse{
    text-align: center;
    }
    .nav-item .nav-link{
        font-size: 20px;
    }
}