
.container{
    padding: 5px;
}

/* container hich removes bootstrap container defaults */
.container-fluid {
    margin: 0;
    padding-top: 4%;
    padding-bottom: 4%;
    padding: 0;
    overflow: hidden;
}