
.container{
    padding: 5px;
}

/* removes bootstrap container defaults */
.container-fluid {
    margin: 0;
    padding-top: 4%;
    padding-bottom: 4%;
    padding: 0;
    overflow: hidden;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}