body{
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Quicksand', 'Lato', sans-serif;
}

p {
    line-height: 35px;
}

.row-fliud{
    margin-right: 0;
    margin-left: 0;
}

/* Removes boostrap blue box shadow around button/link/a */
button:focus, button:active, 
a:focus, a:active,
input[type="submit"]:focus, input[type="submit"]:active {
  outline: none !important;
  box-shadow: none !important;
}

/* overrides bootstraps active class */
.navbar-light .navbar-nav .nav-link.active{
    color: rgba(168, 36, 21, 0.547);
    border-bottom: 2px solid rgba(168, 36, 21, 0.547);
}