body{
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Quicksand', 'Lato', sans-serif;
    position: relative;
}

p {
    line-height: 35px;
}

.row-fliud{
    margin-right: 0;
    margin-left: 0;
}

/* Removes boostrap blue box shadow around button/link/a */
button:focus, button:active, 
a:focus, a:active,
input[type="submit"]:focus, input[type="submit"]:active,
input[type="text"]:focus, input[type="text"]:active,
input[type="file"]:focus, input[type="file"]:active,
select:focus, select:active,
textarea:focus, textarea:active {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid transparent !important;
}
