/* Why Choose us section */
.why-choose-us-section{
    background-color: rgb(243, 243, 243);
    /* padding: 80px 0; */
}

.why-choose-us-box{
    text-align: center;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 0 5px grey;
}
.food-fa-icon{
    background-color: #000;
    color: #fff;
    width: 60px;
    padding: 20px;
    border-radius: 50%;
    margin-top: -30px;
    box-shadow: 0 0 20px grey;
}

/* .why-choose-us-headings h2{
    margin-bottom: 40px;
} */

.why-choose-us-box h5 {
    margin-top: 20px;
}

.why-choose-us-box p {
    margin-top: 20px;
}

/* Our story section */

.story-picture-1{
    width: 250px;
}
.carousel-indicators{
    z-index: 1;
}
.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: -1;
}
.story-slideshow{
    width: 90%;
    margin-left: 40px;
}

/* Cooking video section */
.cooking-video-section{
    position: relative;
}
.cooking-video{
    height: 350px;
    width: 100%;
}
.video{
    position: relative;
}
.video:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .4; 
}

.cooking-video-text{
   position: absolute;
   color: #d3d3d3;
   left: 20px;
   right: 20px; 
   top: -300px;
}
.cooking-video-text i {
    font-size: 80px;
    margin-bottom: 20px;
    cursor: pointer;
    transition-duration: .4s;
}
.cooking-video-text i:hover{
    color: #9c9999;
}

/* Food Menu section */

.breakfest-image{
    width: 280px;
}

.breakfest{
    margin: 0 50px;
}

.food-text{
    margin-left: 290px;
    margin-top: -190px;
}

.food-price{
    position: absolute;
    background-color: rgba(201, 200, 200, 0.788);
    width: 55px;
    top: 90px;
    left: 35px;
    font-size: 30px;
}

.add-item-btn{
    margin-top: -20px;
    border-radius: 0px;
    border-color: rgb(61, 180, 61);
    color: rgb(61, 180, 61);
    transition-duration: .2s;
}
.add-item-btn:hover{
    box-shadow: 0 0 10px;
}


.added-item-banner{
    background-color: rgb(61, 180, 61);
    font-size: 20px;
    font-weight: 900;
    color: white;
    width: 100%;
    display: block;
    text-align: center;
    margin: auto;
    }

.food-text h5 {
    font-size: 28px;
}
.food-text p {
    font-size: 14px;
}
.dish{
    margin-bottom: 150px;
}

/* Meet our staff */

.meet-the-staff-section{
    background-color: #e6e6e6;
}

.staff-image{
    margin-bottom: 15px;
}

.avatar-staff-image{
    width: 255px;
}

.staff-image-text{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 190px;
    bottom: 15px;
    background-color: rgba(229, 229, 229, 0.624);
    transition-duration: .4s;
    overflow: hidden;
    margin: 0 15%;
}
.staff-image-text p{
    margin: 0 16%;
}

.avatar-staff-image:hover + .staff-image-text{
    top: 0px;
}

.staff-image-text:hover
{
    top: 0px;
}
.staff-join-us{
    text-align: center;
    width: 255px;
    height: 255px;
    background-color: rgba(168, 36, 21, 0.547);
    color: #e6e6e6;
    margin-right: 0px;
    padding: 5px;

    /* Kinda hackey...but works for now :P */
    margin-left: 51px;
}
.red-btn{
    margin-top: 35px;
    padding: 10px 50px;
    color: #e6e6e6;
    border: 2px solid #e6e6e6;
    background-color: rgba(172, 102, 94, 0.547);
}
.red-btn:hover{
    color: rgba(168, 36, 21, 0.547);
    background-color: #e6e6e6;
}

.company-statements{
    text-align: center;
}

.hr-Statement{
    width: 50%;
    border-color: rgba(168, 36, 21, 0.547);
}

/* Contact form section */

.contact-us-section{
    background-image: url("../../assets/images/contact-bg.jpg");
    background-size: cover;
    position: relative;
}

 .contact-us-section::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .7; 
} 

.contact-us-header{
    color: #cecece;
}
.contact-form label{
    color: #cecece;
    font-weight: bold;
    font-size: 18px;
}
.contact-form input, .contact-form textarea {
    background-color: transparent;
    color: #cecece;
    border-radius: 0px;
}
.contact-form input:focus, .contact-form textarea:focus{
    background-color: transparent;
    border-color: #cecece;
    color: #cecece;
    box-shadow: 0 0 transparent;
}
.contact-form ::placeholder{
    color: #cecece;
}
.contact-form .form-submit-btn{
    padding: 10px;
    width: 80px;
    float: right;
    transition-duration: .4s;
    cursor: pointer;
}
.contact-form .form-submit-btn:hover{
    background-color: #e6e6e6;
    color: rgba(168, 36, 21, 0.547);
}

/* Company infomation section */

.company-info-section{
    background-color: #000;
    color: #cecece;
    text-align: center;
}
.company-info-text p{
    color: #cececea8;
    text-align: center;
    font-size: 14px;
}
.company-info-hours{
    color: #cecece;
}

/* Footer */
.fa-arrow-up{
    background-color: rgba(172, 102, 94, 0.547);
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition-duration: .4s;
    float: right;
}
.fa-arrow-up:hover{
    color: #000;
}

@media screen and (max-width: 1200px){
    .staff-join-us{
        margin: auto;
    }
    .staff-image-text{
        margin: 0 8%;
    }
}

@media screen and (max-width: 992px){
.story-slideshow{
    width: 85%;
    margin: auto;
    }
.story-picture{
    text-align: center;
    margin-top: 10px;
    }
.story-picture-1{
    width: 50%;
}

.breakfest-image{
    margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px){
    .why-choose-us-box{
        margin-top: 40px;
    }
    .avatar-staff-image{
        width: 70%;
    }
    .staff-image-text{
        position: absolute;
        top: 280px;
    }

    .staff-join-us{
        width: 350px;
    }
    .dish{
        text-align: center;
         margin-bottom: 50px;
    }
    .breakfest{
        margin: 0;
    }

    .breakfest-image{
        width: 90%;
    }
    .food-text {
        margin-left: 0px; 
        margin-top: 0px;
        text-align: center;
    }
    .food-price {
        position: absolute;
        width: 62px;
        top: 5px;
        left: 55px;
        padding: 10px;
        font-size: 30px;
    }
    .story-picture-1{
        width: 70%;
    }
    .story-slideshow{
        width: 100%;
        }
    .contact-form .form-submit-btn{
        width: 100%;
        float: none;
    }
} 

@media screen and (max-width: 576px){
    .avatar-staff-image{
        width: 255px;
    }
    .staff-image-text{
        position: absolute;
        top: 190px;
    }
    .staff-join-us{
        width: 255px;
    }
    .food-price {
        position: absolute;
        width: 60px;
        padding: 15px;
        font-size: 20px;
    }

    .breakfest-image{
        width: 100%;
    }

    .story-picture-1{
        width: 70%;
    }

    
}