/* Why Choose us section */
.why-choose-us-section{
    background-color: rgb(243, 243, 243);
    padding: 80px 0;
}

.why-choose-us-box{
    text-align: center;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 0 5px grey;
}
.food-fa-icon{
    background-color: #000;
    color: #fff;
    width: 60px;
    padding: 20px;
    border-radius: 50%;
    margin-top: -30px;
    box-shadow: 0 0 20px grey;
}
.why-choose-us-box h5 {
    margin-top: 20px;
}

.why-choose-us-box p {
    margin-top: 20px;
}

/* Our story section */

.story-picture-1{
    width: 250px;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.story-slideshow{
    width: 90%;
    margin-left: 40px;
}

/* Cooking video section */
.cooking-video-section{
    position: relative;
}
.cooking-video{
    height: 350px;
    width: 100%;
}
.video{
    position: relative;
}
.video:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .4; 
}

.cooking-video-text{
   position: absolute;
   color: #d3d3d3;
   left: 20px;
   right: 20px; 
   top: -300px;
}
.cooking-video-text i {
    font-size: 80px;
    margin-bottom: 20px;
    cursor: pointer;
    transition-duration: .4s;
}
.cooking-video-text i:hover{
    color: #9c9999;
}

/* Food Menu section */

.breakfest-image{
    width: 200px;
    /* margin-left: 40px; */
}

.breakfest{
    margin: 0 50px;
}

.food-text{
    margin-left: 220px;
    margin-top: -135px;
}

.food-price{
    position: absolute;
    background-color: #fff;
    width: 30px;
    top: 90px;
    left: 35px;
}


.food-text h5 {
    font-size: 18px;
}
.food-text p {
    font-size: 14px;
}
.dish{
    margin-bottom: 100px;
}

/* Meet our staff */

.meet-the-staff-section{
    background-color: #e6e6e6;
}

.staff-image{
    margin-bottom: 15px;
}

.avatar-staff-image{
    width: 255px;
}

.staff-image-text{
    position: absolute;
    left: 5px;
    right: 5px;
    top: 190px;
    bottom: 0;
    background-color: #e6e6e69f;
}
.staff-join-us{
    text-align: center;
    width: 255px;
    height: 255px;
    background-color: rgba(168, 36, 21, 0.547);
    color: #e6e6e6;
    margin-right: 0px;
    padding: 5px;

    /* Kinda hackey...but works for now :P */
    margin-left: 51px;
}
.red-btn{
    margin-top: 35px;
    padding: 10px 50px;
    color: #e6e6e6;
    border: 2px solid #e6e6e6;
    background-color: rgba(172, 102, 94, 0.547);
}
.red-btn:hover{
    color: rgba(168, 36, 21, 0.547);
    background-color: #e6e6e6;
}

@media screen and (max-width: 1200px){
    .staff-join-us{
        margin: auto;
    }
}

@media screen and (max-width: 992px){
.story-slideshow{
    width: 85%;
    margin: auto;
    }
.story-picture{
    text-align: center;
    margin-top: 10px;
    }
.story-picture-1{
    width: 50%;
}
.breakfest-image{
    margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px){
    .why-choose-us-box{
        margin-top: 40px;
    }
    .avatar-staff-image{
        width: 70%;
    }
    .staff-image-text{
        position: absolute;
        top: 280px;
    }
    .staff-join-us{
        width: 350px;
    }
    .dish{
        text-align: center;
         margin-bottom: 50px;
    }
    .breakfest{
        margin: 0;
    }

    .breakfest-image{
        width: 90%;
    }
    .food-text {
        margin-left: 0px; 
        margin-top: 0px;
        text-align: center;
    }
    .food-price {
        position: absolute;
        background-color: #fff;
        width: 62px;
        top: 5px;
        left: 55px;
        padding: 10px;
        font-size: 30px;
    }
} 

@media screen and (max-width: 576px){
    .avatar-staff-image{
        width: 255px;
    }
    .staff-image-text{
        position: absolute;
        top: 190px;
    }
    .staff-join-us{
        width: 255px;
    }
    .food-price {
        position: absolute;
        background-color: #fff;
        width: 40px;
        padding: 10px;
        font-size: 15px;
    }

    .breakfest-image{
        width: 100%;
    }
    
}